.search{
    width: 50%;
}
.search > input{
    padding: 7px;
    font-size: 16px;
    border: 1px #0004;
    box-shadow: 0 1px 2px #0004;
    border-radius: 1px;
    width: 100%;
}
.search > input::placeholder{
    color: #0005;
}